@tailwind base;
@tailwind components;
@tailwind utilities;

.t-nav { display: flex; flex-direction: column; }
.t-nav__item { display: block; margin: 2px 0; }


/* tiny sanity styles */
html, body {
  height: 100%;
}
body {
  @apply bg-white text-black;
}
